@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mensajeConfirmacion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    text-align: center;
    width: 100%;
}

.contenidoMensajeConfirmacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1.5%;
}

.contenidoMensajeConfirmacion p:first-child{
    font-weight: bold;
    font-size: 1.8rem;
}

.logoTex{
    width: 2.5vw;
    margin-right: 1.3vw;
}

.contenidoMensajeConfirmacion p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 3%;
}

.operadoraConfirmacion{
    width: 15vw;
    margin: 0 1.5%;
}

.conocenos{
    width: 80%;
    background-color: #2E0049;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.tituloConocenos{
    display: flex;
    align-items: baseline;
}

.conocenos p{
    color: #f1f1f1;
    font-size: 1.8rem;
    margin-bottom: 2vw;
    font-weight: 600;
}

.botonesConocenos{
    display: flex;
    justify-content: space-between;
}

.botonesConocenos a{
    text-align: center;
    background-color: #D3245C;
    border: #D3245C 4px solid;
    padding: 1vw 2vw;
    border-radius: 60px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: #f1f1f1;
    width: 20%;
}

.botonesConocenos a:hover{
    background-color:#E9E9E9;
    border: #D3245C 4px solid;
    color: #D3245C;
    font-weight: 600;
}


@media screen and (max-width: 1500px) {
    .botonesConocenos a{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1250px) {
    .botonesConocenos a{
        padding: 1vw 1vw;
    }
}

@media screen and (max-width: 1050px) {
    .botonesConocenos a{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 850px) {
    .contenidoMensajeConfirmacion p:first-child{
        font-size: 1.3rem;
    }

    .contenidoMensajeConfirmacion p{
        font-size: 1rem;
    }

    .conocenos{
        width: 85%;
    }

    .conocenos p{
        font-size: 1.3rem;
    }

    .botonesConocenos a{
        border: #D3245C 3px solid;
    }

    .botonesConocenos a:hover{
        border: #D3245C 3px solid;
    }
}

@media screen and (max-width: 750px){
    .contenidoMensajeConfirmacion p:first-child{
        font-size: 1.1rem;
    }
    
    .contenidoMensajeConfirmacion p {
        font-size: 0.9rem;
    }

    .conocenos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    .conocenos p{
        font-size: 1.1rem;
    }

    .botonesConocenos{
        flex-wrap: wrap;
        width: 70%;
    }

    .botonesConocenos a{
        width: 20vw;
        margin: 1vw;
    }
}

@media screen and (max-width: 650px) {
    .mensajeConfirmacion{
        flex-direction: column
    }
    
    .operadoraConfirmacion{
        width: 20vw;
        margin: 2% auto;
    }
}

@media screen and (max-width: 600px) {
    .conocenos p{
        font-size: 1rem;
    }

    .botonesConocenos a{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .contenidoMensajeConfirmacion p:first-child{
        font-size: 0.9rem;
    }

    .contenidoMensajeConfirmacion p{
        font-size: 0.7rem;
    }

    .conocenos p{
        font-size: 0.8rem;
    }

    .tituloConocenos{
        justify-content: center;
    }

    .tituloConocenos p{
        text-align: center;
    }

    .botonesConocenos{
        width: 50%;
        justify-content: center;
    }

    .botonesConocenos a{
        width: 25vw;
    }
}

@media screen and (max-width: 450px) {
    .conocenos p{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 400px) {
    .contenidoMensajeConfirmacion p:first-child{
        font-size: 0.7rem;
    }

    .contenidoMensajeConfirmacion p{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 350px) {
    .botonesConocenos a{
        width: 30vw;
    }
}

@media screen and (max-width: 320px) {
    .conocenos p{
        width: 50%;
    }
}

@media screen and (max-width: 290px) {
    .conocenos p{
        width: 55%;
    }

    .botonesConocenos a{
        width: 35vw;
    }
}

@media screen and (max-width: 270px) {
    .contenidoMensajeConfirmacion p:first-child{
        font-size: 0.5rem;
    }

    .contenidoMensajeConfirmacion p{
        font-size: 0.3rem;
    }
    
}